_README.txt
VERSION
Backup
build
Release Notes.txt
**/.idea/workspace.xml
**/.idea/tasks.xml
*.iws

__pycache__/
*.py[cod]
*$py.class
.pybuild/
*.bak

*.spec

*.lock

*.mo
*.pyo

.env
.venv
env/
venv/
ENV/
/bin/*.exe
/Release Notes.txt

lib/wariety_key.py

*.git.code-workspace
.idea/