beautifulsoup4
configparser
cryptography
importlib-metadata
importlib-resources
pillow
pyinstaller
PyPAC
pypiwin32
Pypubsub
python-gettext
pywin32
pywin32-ctypes
requests
urllib3
urlparse2
watchdog
wxPython