#!/usr/bin/env python
# -*- coding: UTF-8 -*-

import sys

sys.path.insert(1, '../lib')
import wariety_wallpaper

START_URL = 'http://...'
BASE_URL = 'http://...'
DOWNLOADER_TYPE = '...'
CAPABILITIES = {'single': 'single', 'many': 'many'}

def get_next_image(last_image_counter=0):
    """...
    """
    next_image = wariety_wallpaper.WarietyWallpaper()
    return next_image

def get_downloader_type():
    return DOWNLOADER_TYPE

def get_capability():
    return CAPABILITIES['single']